* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.fa-magnifying-glass {
  color: rgba(255, 255, 255, 0.3);
  width: 4rem;
}

.fa-magnifying-glass:hover {
  cursor: pointer;
}

.fa-icon {
  margin-right: 1rem;
}

.fa-icon:hover {
  cursor: pointer;
}

.fa-chess-queen {
  margin-left: 10rem;
}

.section__sidebar {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background: #202124;
  margin-right: .25rem;
  color: rgba(255, 255, 255, 0.4);
  padding: 3rem 0 0 2rem;
}

.section__sidebar-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  line-height: 2rem;
  word-spacing: 2rem;
  margin: 1rem 0 1.3rem 0;
}

.section__sidebar-headerNt {
  margin-top: 2.5rem;
}

.section__sidebar-list {
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
}

.section__sidebar-listItem {
  margin: 1rem 0 .5rem 0;
  padding: .7rem 1.5rem;
  border-left: .3rem solid transparent;
  border-radius: .2rem;
}

.section__sidebar-listItem:hover {
  color: white;
  border-left: 0.3rem solid #2776ff;
}

.section__mainpage {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  background: #202124;
}

.nav {
  font-size: 2.3rem;
  height: 6.8rem;
  width: 100%;
  color: white;
  background: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 2rem;
}

.nav__logo {
  padding-left: 4.5rem;
}

.nav__logo-img {
  width: 10rem;
  height: 3.7rem;
  padding-bottom: .1rem;
  margin-top: .5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__search-form {
  background: #202124;
  width: 65rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.5rem;
  border-radius: 100px;
  font-family: 'Quicksand', sans-serif;
  margin: 0 1rem;
}

.nav__search-form > input {
  background: inherit;
  border-style: none;
  padding: .5rem;
  width: 85%;
}

.nav__search-form > input:active, .nav__search-form > input:focus {
  border-style: none;
  outline: none;
  color: white;
}

.nav__search-form > select {
  width: 13%;
  font-family: inherit;
  background: #171717;
  padding: .5rem .4rem;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border-style: none;
}

.nav__search-form > select:after, .nav__search-form > select:focus {
  border-style: none;
}

@media screen and (min-width: 99rem) {
  .nav__search {
    display: none;
  }
}

.nav__login {
  font-family: 'Palanquin', sans-serif;
}

.nav__login-common {
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
}

.nav__login-common:hover {
  cursor: pointer;
}

.nav__login-button {
  padding: .3rem .6rem;
  background: #2776ff;
  border-radius: 10px;
  margin-right: .5rem;
}

.nav__login-button:hover {
  background: rgba(39, 118, 255, 0.689);
}

.nav__login-or {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
}

.nav__login-reg {
  margin-left: .5rem;
  -webkit-transition: 650ms ease-in-out;
  transition: 650ms ease-in-out;
}

.nav__login-reg:hover {
  color: rgba(255, 255, 255, 0.45);
}

.section__landingpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #171717;
}

main .sectionmodal {
  margin: 3rem auto 0 auto;
  width: 40rem;
  height: 54.6rem;
  color: white;
  background: #454a57;
  padding: 1.5rem;
  border-radius: 1rem;
  font-family: 'Quicksand', sans-serif;
}

main .sectionmodal__h4-modalHeader {
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
}

main .sectionmodal__p-modalP {
  font-family: 'Palanquin', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.modalForm > input {
  width: 100%;
  height: 5.6rem;
  border-radius: 10px;
  display: block;
  margin: 2rem 0;
  padding: 1.3rem;
  outline: none;
  border-style: none;
  font-family: inherit;
  font-size: 1.6rem;
  background: #e8f0fe;
  -webkit-transition: 90ms ease-in;
  transition: 90ms ease-in;
}

.modalForm > input:active, .modalForm > input:focus {
  border-style: none;
  outline: 0.356rem solid rgba(4, 103, 208, 0.4);
}

.modalForm__div-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modalForm__div-container1 > label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: .3rem;
}

.modalForm__span-forgetpass {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1rem;
  word-spacing: .1rem;
  color: #0467d0;
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
  margin-bottom: 0;
}

.modalForm__span-forgetpass:hover {
  cursor: pointer;
  color: #0467d0;
}

.modalForm__button {
  width: 100%;
  height: 4.4rem;
  background: #0467d0;
  padding: auto;
  outline: none;
  border-style: none;
  color: white;
  font-family: 'Palanquin', sans-serif;
  font-size: 1.6rem;
  border-radius: 1rem;
  margin-top: 1.2rem;
}

.divor {
  margin-top: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divor__hr {
  height: 1.9px;
  width: 5.8rem;
  margin-top: 1.42rem;
}

.divor__hr1 {
  background: -webkit-gradient(linear, left top, right top, from(#454a57), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to right, #454a57, rgba(255, 255, 255, 0.4));
}

.divor__hr2 {
  background: -webkit-gradient(linear, right top, left top, from(#454a57), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to left, #454a57, rgba(255, 255, 255, 0.4));
}

.divor__span-or {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 .4rem;
  color: rgba(255, 255, 255, 0.3);
}

div .reg {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-top: 2.3rem;
}

div .reg__span-cmn {
  font-size: 1.6rem;
  word-spacing: .2rem;
  line-height: 1rem;
}

div .reg__span-first {
  color: rgba(255, 255, 255, 0.6);
}

div .reg__span-second {
  color: #0467d0;
  font-weight: 600;
}

.listLink {
  font-size: 1.7rem;
  font-weight: 300;
}

.listLink:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */