//LAYOUT COLORS
$bg-big: rgb(23,23,23);
$bg-small: #202124;
$bg-spec: rgb(39,118,255);
$bg-login: rgb(39,118,255);

//COLORS
$white: rgb(255,255,255);
$black: #000000;
$text-color: rgb(171,172,173);

//MODAL-COLORS
$bg-modal: #454a57;
$bg-modalInput: #e8f0fe;
$bg-modaltext: rgb(36,123,244);
$bg-modalLogin: rgb(4, 103, 208);
$bg-modalLoginThick: rgb(4, 103, 208);
