.nav{
    font-size: 2.3rem;
    height: 6.8rem;
    width: 100%;
    color: $white;
    background: $bg-big;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    // position: relative;

    &__logo{
        padding-left: 4.5rem;
    }

    &__logo-img{
        width: 10rem;
        height: 3.7rem;
        padding-bottom: .1rem;
        margin-top: .5rem;
        object-fit: cover;
    }
    &__search{
        
        &-form{
            background: $bg-small;
            width: 65rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            padding: 2rem 1.5rem;
            border-radius: 100px;
            font-family: 'Quicksand', sans-serif;
            margin: 0 1rem;

            & > input{
                background: inherit;
                border-style: none;
                padding: .5rem;
                width: 85%;

                &:active, &:focus{
                    border-style: none;
                    outline: none;
                    color: white;
                }
            }
            & > select{
                width: 13%;
                font-family: inherit;
                background: $bg-big;
                padding: .5rem .4rem;
                
                color: rgba($white, .3);
                border-radius: 20px;
                border-style: none;

                &:after, &:focus{
                    border-style: none;
                }
            }
        }

        @media screen and (min-width: 99rem){
            display: none;
        }
    }
    &__login{
        font-family: 'Palanquin', sans-serif;

        &-common{
            color: $white;
            font-family: inherit;
            font-weight: 400;
            font-size: 1.6rem;
            transition: all 650ms ease-in-out;
            
            &:hover{
                cursor: pointer;
            }
        }

        &-button{
            padding: .3rem .6rem;
            background: $bg-login;            
            border-radius: 10px;
            margin-right: .5rem;

            &:hover{
                background: rgba($bg-login, .689);
            }
        }

        &-or{
            color: rgba($white, .3);
            font-size: 1.5rem;
        }
        
        &-reg{
            margin-left: .5rem;
            transition: 650ms ease-in-out;

            &:hover{
                color: rgba($white, .45);
            }
        }
    }
}